/*Styling for the header*/
header {
  display: inline-block;
}

.navbar {
  background-color: #070A0F;
}

.navbar-default .navbar-brand {
  font-family: 'Kaushan Script', cursive;
  color: #618B03;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: #618B03;
}

.navbar-default .navbar-brand:focus {
  color: #618B03;
}

.collapse .navbar-collapse {
  position: relative;
}

.navbar-nav {
  position: absolute;
  left: calc(50% - 274px/2);
}

.navbar-default .navbar-nav>li>a {
  color: #618B03;
  font-size: 20px;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #618B03;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #618B03;
}

/* Styling for the main-img*/
section.main-img {
  margin-top: 25px;
  position: relative;
}

section h1 {
  color: #235DA6;
  position: absolute;
  top: 30%;
  left: 10%;
  font-weight: bold;
  max-width: 30%;
  border-radius: 5px;
  padding: 5px;
  /*background-color: white;*/
  min-height: 100px;
  min-width: 100px;
  border: solid #618B03 5px;
}

@media screen and (max-width: 768px) {
  h1{
    font-size:12px;
  }
}

/* Styling for intro about me section*/
section.about-me-intro {
  background-color: #D9D8D6;
}

.about-me-intro p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.about-me-intro p:last-child {
  padding-bottom: 3%;
}

.intro-paragraph {
  margin-left: 10%;
  margin-right: 10%;
  color: #043C8E;
}

.intro-paragraph h3 {
  padding-top: 3%;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
}
