/*Styling for the header*/
header {
  display: inline-block;
}

.navbar {
  background-color: #070A0F;
}

.navbar-default .navbar-brand {
  font-family: 'Kaushan Script', cursive;
  color: #618B03;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: #618B03;
}

.navbar-default .navbar-brand:focus {
  color: #618B03;
}

.collapse .navbar-collapse {
  position: relative;
}

.navbar-nav {
  position: absolute;
  left: calc(50% - 274px/2);
}

.navbar-default .navbar-nav>li>a {
  color: #618B03;
  font-size: 20px;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #618B03;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #618B03;
}

/* Styling for the main-img*/
section.main-img {
  margin-top: 25px;
  position: relative;
}

