// Styling for the header
header {
  display: inline-block;
}

.navbar {
  background-color: #1A1A1A;
  min-height: 65px;
}

.navbar-default a {
  line-height: calc(65px / 2);
}

.navbar-default .navbar-brand {
  font-size: 24px;
  font-family : Superclarendon;
  font-weight : bold;
  color : #285BA6;
  line-height: calc(65px / 2);
}

.navbar-default .navbar-brand:hover {
  color: #285BA6;
}

.navbar-default .navbar-brand:focus {
  color: #285BA6;
}

.collapse .navbar-collapse {
  position: relative;
}

.navbar-nav {
  position: absolute;
  left: calc(50% - 274px/2 - 5vw);
}

.navbar-default .navbar-nav>li>a {
  color: #285BA6;
  font-size: 24px;
  font-family: Myriad Pro;
  margin-right: 5vw;
  line-height: calc(65px / 2);
}

.navbar-default .navbar-nav>li>a:hover {
  color: #285BA6;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #285BA6;
}

// main flag img styling
.intro img {
  max-width: 100%;
  position: relative;
}

.intro h1 {
  color: #72A404;
  position: absolute;
  top: 20%;
  left: 10%;
  font-weight: bold;
  font-size: 6vw;
  max-width: 65%;
  font-family: Myriad Pro;
}

// Portfolio section
section.portfolio {
  background-color: #285BA6;
  padding: 2% 5% 0% 5%;
  position: relative;
}

.portfolio h2, .about h2 {
  font-size: 24px;
  color: #72A404;
  font-family: Myriad Pro;
  position: relative;
  left: 48.5%;
  display: inline-table;
}

.small-images {
  margin-top: 3%;
}

.small-images img {
  width: 29.79%;
}

.small-images img:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}

.segment-break {
  height: 5px;
  background-color: white;
  margin-top: 3%;
}

.detail {
  margin-top: 3%;
} 

h3 {
  font-size: 21px;
  color: #070A0F;
  font-family: Myriad Pro;
  left: 50%;
  position: relative;
  display: inline-table;
}

.info {
  background-color: white;
  border-radius: 5px;
  padding: 1% 4%;
  border: 3px solid #72A404;
  margin-top: 2%;
}

.detail img {
  width: 100%;
  margin: 3% 0%;
}

.info tr td {
  font-family: Myriad Pro;
  font-size: 14px;
}

.info tr td:first-child {
  font-weight: bold;
}

.table td { 
     border-top: none !important; 
 }

.btn {
  position: relative;
  left: 46.5%;
  font-color: #1A1A1A;
  font-weight: bold;
  background-color: #72A404;
  top: -10px;
}

.foodmap, .stocks {
  display: none;
}

// About me section
.about {
  width: 90%;
  margin: 3% 5%;
  position: relative;
}

.about img {
  position: absolute;
  max-width: 50%;
  left: 28%;
  top: 2%;
}

.bio {
  font-family: Myriad Pro;
  font-size: 14px;
  width: 50%;
  margin-left: 28%;
  margin-top: 22.5%;
}

// Footer styling







