// Styling for the header
header {
  display: inline-block;
}

.navbar {
  background-color: #1A1A1A;
  min-height: 65px;
}

.navbar-default a {
  line-height: calc(65px / 2);
}

.navbar-default .navbar-brand {
  font-size: 24px;
  font-family : Superclarendon;
  font-weight : bold;
  color : #285BA6;
  line-height: calc(65px / 2);
}

.navbar-default .navbar-brand:hover {
  color: #285BA6;
}

.navbar-default .navbar-brand:focus {
  color: #285BA6;
}

.collapse .navbar-collapse {
  position: relative;
}

.navbar-nav {
  position: absolute;
  left: calc(50% - 274px/2 - 5vw);
}

.navbar-default .navbar-nav>li>a {
  color: #285BA6;
  font-size: 24px;
  font-family: Myriad Pro;
  margin-right: 5vw;
  line-height: calc(65px / 2);
}

.navbar-default .navbar-nav>li>a:hover {
  color: #285BA6;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #285BA6;
}

// main flag img styling
.intro img {
  max-width: 100%;
  position: relative;
}

.intro h1 {
  color: #72A404;
  position: absolute;
  top: 20%;
  left: 10%;
  font-weight: bold;
  font-size: 6vw;
  max-width: 65%;
  font-family : Myriad Pro;
}

// Portfolio section
section.portfolio {
  background-color: #285BA6;
  padding: 5%;
  height: 600px;
  position: relative;
}

.portfolio h2 {
  font-size: 24px;
  color: #72A404;
  font-family : Myriad Pro;
  position: absolute;
  left: 50%;
}

