<section class="about-me-intro">
  <p>A junior full-stack developer who thrives in a challenging environment and enjoys front-end development.</p><br>

  <p>A former investment analyst, diving deep into the world of web development. Interested in working with a strong team of like minded developers whom I can learn from. Would love to learn new languages and increase my knowledge in Ruby and Javascript.</p><br>

  <p>Outside of coding, I am a hockey player, investment enthusiast and dog lover!</p>
</section>