<section class="about-me-intro">
  <div class="intro-paragraph">
    <h3>A Little About Me</h3><br>
    <p>A junior full-stack developer who thrives in a challenging environment and enjoys front-end development.</p><br>

    <p>I am currently working in a dual role split between an institutional investment analyst and a junior full stack developer. On the development side, I am the sole developer working on internal web applications which will allow our consultants to be able to easier analyze large amounts of data and provide a better user experience.</p><br>

    <p>Outside of coding, I am a hockey player, investment enthusiast and dog lover!</p>
  </div>
</section>