<section class="portfolio" id="portfolio">
  <h3>Portfolio</h3>
  
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>
          <img src="core.png">
        </td>
        <td>
          <img src="portfolio_builder.png">
        </td>
        <td>
          <img src="foodmap.png">
        </td>
      </tr>
    </table>
  </div>

  <div class="portfolio-large">
    <div class="left-info">
      <div class="core">
        <p>
          Web application that offers users a full out personal fitness trainer experience. The user is able to track their current workout progress and a daily diet meal plan is set out for the user.
        </p>
        <p>
          Ruby on Rails, Javascript, Highcharts(JS), jQuery, AJAX, Postgres, Fitbit API, Materialize CSS Framework, HTML
        </p>
        <button a href="#">Core</button>
        <button a href="#">Core</button>
      </div>
      <div class="stocks">
        <p>
          Web application allowing a user to easily track their portfolio fundamentals (financial ratios) along with portfolio sector exposure and market cap exposure.
        </p>
        <p>
          Ruby, Javascript, AJAX, jQuery, Web scraping, Rails, HTML, CSS, Bootstrap
        </p>
        <button a href="#">Stocks</button>
        <button a href="#">Stocks</button>
      </div>
      <div class="foodmap">
        <p>
          A web application that allows users to easily find the top 10 ranked restaurants near them along with a map showing where they are located and write/read reviews on restaurants.
        </p>
        <p>
          Ruby, Sinatra, HTML, CSS, Javascript, jQuery, AJAX, Postgres, Google Maps API, Zomato API
        </p>
        <button a href="#">Foodmap</button>
        <button a href="#">Foodmap</button>
      </div>
    </div>
    <img src="">
  </div>
</section>