<section class="portfolio">
  <h3>Portfolio</h3>
  
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>
          <img src="core.png">
        </td>
        <td>
          <img src="portfolio_builder.png">
        </td>
        <td>
          <img src="foodmap.png">
        </td>
      </tr>
    </table>
  </div>

  <div class="portfolio-large">
    <div class="left-info">
      <div class="description">
        <div class="core">
          <p>
            Web application that offers users a full out personal fitness trainer experience. The user is able to track their current workout progress and a daily diet meal plan is set out for the user.
          </p>
        </div>
        <div class="stocks">
          <p>
            Web application allowing a user to easily track their portfolio fundamentals (financial ratios) along with portfolio sector exposure and market cap exposure.
          </p>
        </div>
        <div class="foodmap">
          <p>
            A web application that allows users to easily find the top 10 ranked restaurants near them along with a map showing where they are located and write/read reviews on restaurants.
          </p>
        </div>
      </div>
      <div class="stack">
        <div class="core">
          <p>
            Ruby on Rails, Javascript, Highcharts(JS), jQuery, AJAX, Postgres, Fitbit API, Materialize CSS Framework, HTML
          </p>
        </div>
        <div class="stocks">
          <p>
            Ruby, Javascript, AJAX, jQuery, Web scraping, Rails, HTML, CSS, Bootstrap
          </p>
        </div>
        <div class="foodmap">
          <p>
            Ruby, Sinatra, HTML, CSS, Javascript, jQuery, AJAX, Postgres, Google Maps API, Zomato API
          </p>
        </div>
      </div>
      <div class="github-link">
        <div class="core">
          <button a href="#">Core</button>
        </div>
        <div class="stocks">
          <p>
            <button a href="#">Stocks</button>
          </p>
        </div>
        <div class="foodmap">
          <p>
            <button a href="#">Foodmap</button>
          </p>
        </div>
      </div>
      <div class="web-link">
        <div class="core">
          <button a href="#">Core</button>
        </div>
        <div class="stocks">
          <p>
            <button a href="#">Stocks</button>
          </p>
        </div>
        <div class="foodmap">
          <p>
            <button a href="#">Foodmap</button>
          </p>
        </div>
      </div>
    </div>
    <img src="">
  </div>
</section>